www.wence.tongzhuo.ink {
    redir https://wence.tongzhuo.ink{uri} permanent
}

wence.tongzhuo.ink {
    encode gzip

    redir /admin /admin/

    handle /api* {
        reverse_proxy backend:8000
    }

    handle /health {
        reverse_proxy backend:8000
    }

    handle_path /admin/* {
        reverse_proxy admin:80
    }

    handle {
        reverse_proxy frontend:80
    }
}
